<html>
<head>
  <!-- Include Bootstrap CSS -->
  <link rel="icon" type="image/x-icon" href="https://scontent.xx.fbcdn.net/v/t1.15752-9/329760136_495322139346198_6412973535947348003_n.png?stp=cp0_dst-png&_nc_cat=102&ccb=1-7&_nc_sid=aee45a&_nc_ohc=N7Wb25Hw448AX_ZX_Fe&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQELbUniDrEixWoqLM2_y88OwVGquT--EW7YAStAaZyCg&oe=640D48A7">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script></head>
<style>
        img{
        width:50px;
        height:50px;
    }
        #my-menu {
    position: sticky;
    top: 0;
    background-color: #fff;
    }
    
  </style>
<body>
<nav id="my-menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/CRUDadm2002">Admin panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/CRUDadm2002">Create product <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listSp">List product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Orderadmin1186">List Order</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Table to display the list of orders -->
<h3 style="text-align:center; background-color:gray;color:white;padding:10px">LIST PRODUCT</h3>
<table class="table">
  <thead>
  <tr>
    <th>Mã</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô Tả SP</th>
    <th>Ảnh</th>
    <th>Xóa</th>
    <th>Sửa</th>
  </tr>
  </thead>
  <tbody id="employee-table">
  </tbody>
</table>
<div id="edit-form" style="display: none;">
  <h2>Chỉnh sửa sản phẩm</h2>
  <label for="edit-name">Tên:</label>
  <input type="text" id="edit-name" name="edit-name">
  <label for="edit-price">Giá:</label>
  <input type="text" id="edit-price" name="edit-price">
  <label for="edit-description">Mô tả:</label>
  <textarea id="edit-description" name="edit-description"></textarea>
  <label for="edit-image">Ảnh:</label>
  <input type="text" id="edit-image" name="edit-image">
  <button  onclick="submitEdit()">Lưu</button>
  <button  onclick="cancelEdit()">Hủy</button>
</div>
<!-- Include jQuery and Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
  const apiUrl = "https://6437c88f0c58d3b14579192a.mockapi.io/api/tour/manga";
  var idedit="";
  const employeeTable = document.querySelector("#employee-table");
  fetch(apiUrl)
    .then(response => response.json())
    .then(data => {
      data.forEach((employee) => {
        const { id,name, price, description, image } = employee;
        const employeeRow = `
          <tr>
            <td>${id}</td>
            <td>${name}</td>
            <td>${price}</td>
            <td>${description}</td>
            <td><img src=${image} alt="image"/></td>
            <td>
                  <button class="btn btn-danger btn-sm" onclick="deleteEmployee(${id})">Xóa</button>
            </td>
            <td>
                  <button class="btn btn-success btn-sm" onclick="editEmployee(${id})">Sửa</button>
            </td>
          </tr>
        `;
        employeeTable.innerHTML += employeeRow;
      });
    })
    .catch(error => {
      console.error("Có lỗi xảy ra khi tải dữ liệu:", error);
    });
  function deleteEmployee(idlaptop) {
    if (confirm(`Bạn có chắc chắn muốn xóa sản phẩm với mã là ${idlaptop} không?`)) {
      fetch(apiUrl+'/'+idlaptop, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ idlaptop })
      })
        .then(response => response.json())
        .then(data => {
          console.log("Sản phẩm đã được xóa thành công:", data);
          location.reload();
        })
        .catch(error => {
          console.log("Có lỗi xảy ra khi xóa sản phẩm:", error);
        });
    }
  }
  function editEmployee(idlaptop) {
  idedit = idlaptop;
  console.log("sua");
  fetch(apiUrl+'/'+idlaptop)
    .then(response => response.json())
    .then(data => {
      const { name, price, description, image } = data;
      document.querySelector("#edit-name").value = name;
      document.querySelector("#edit-price").value = price;
      document.querySelector("#edit-description").value = description;
      document.querySelector("#edit-image").value = image;
      document.querySelector("#edit-form").style.display = "block";
    })
    .catch(error => {
      console.error("Có lỗi xảy ra khi tải thông tin sản phẩm:", error);
    });
}
function submitEdit() {
  console.log("save", idedit)


  const name = document.querySelector("#edit-name").value;
  const description = document.querySelector("#edit-description").value;
  const price = document.querySelector("#edit-price").value;
  const image = document.querySelector("#edit-image").value;

  // Gửi yêu cầu PUT đến API để cập nhật thông tin nhân viên
  fetch(`${apiUrl}/${idedit}`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({ name, description, price,image }),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log("Sửa thông tin nhân viên thành công:", data);
      location.reload();
    })
    .catch((error) => {
      console.error("Có lỗi xảy ra khi sửa thông tin nhân viên:", error);
    });
}


function cancelEdit() {
  document.querySelector("#edit-id").value = "";
  document.querySelector("#edit-name").value = "";
  document.querySelector("#edit-description").value = "";
  document.querySelector("#edit-price").value = "";
}
</script>
</body>
</html>